<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
  rel="shortcut icon"
  type="image/jpg"
  href="https://prodstatic.shoppersstop.com/_ui/responsive/theme-ssl/images/favicon.ico"
/>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>
<style>
  .image1 {
    width: 100%;
    height: 100%;
  }
</style>

<body>
  <h1>Hello, world!</h1>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>


  <div class="row">
    <img src="https://sslimages.shoppersstop.com/sys-master/root/hc9/h1e/17501669326878/FC-Strip-Web.jpg" alt="...">
  </div>
  <div class="row">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/h4c/h19/17387683348510/Exit-Intent-Pop-Up-Creative-Strip-Web.jpg"
      alt="...">
  </div>
  <!-- carousel 1 start -->
  <div id="carouselExampleIndicators" class="carousel slide mb-3" data-bs-ride="carousel" data-bs-interval="2500">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
        aria-label="Slide 6"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/hd2/he7/17482986061854/Homepage-Carousals-Kids-Indianwear-Web.jpg"
          class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h66/hbd/17482956668958/pujoFest_web.jpg"
          class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/hc2/hcc/17482985930782/Homepage-Carousals-Mens-Indianwear-Web.jpg"
          class="img-fluid" alt="...">
      </div>

      <div class="carousel-item">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h54/h62/17472995491870/Mega-Bargain-Days-Banner-Web.jpg"
          class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h00/hd6/17482978492446/Homepage-Carousals-Footwear-Web.jpg"
          class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/ha0/he3/17482978099230/Homepage-Carousals-Home-Furnishing-Web.jpg"
          class="img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- carousel-1 end -->
  <!-- static part 1 -->
  <div class="row">
    <img src="https://sslimages.shoppersstop.com/sys-master/root/h22/h1e/17482962501662/Coffee-day-Web.jpg" alt="...">
  </div>
  <!-- static part 1 ends -->
  <!-- just launched -->
  <div class="row">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/h97/hea/17407188238366/Just-Launched-Brands-Strip-Web.jpg"
      alt="...">
  </div>
  <div id="carouselExampleIndicators" class="carousel slide mb-3" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/he4/h63/17472998375454/Home-Page-Just-Launched-Static-Fire-Bolt-Web.jpg"
          class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/hd5/h5d/17472998506526/Home-Page-Just-Launched-Static-Hangup-Web.jpg"
          class="d-block w-100" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- grid 1 start-->
  <div class="container">
    <h3>Top Categories</h3>
    <div class="row my-3">
      <div class="col-sm-6 col-xl-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/hba/h0e/17476198989854/Dresses------AAP-20210924.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-sm-6 col-xl-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h36/h5d/17476199186462/Casual-wear----WEB-20210924.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-sm-6 col-xl-4 my-1 d-sm-none d-md-none d-lg-block">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h45/h63/17476199317534/Girls-Dresses------AAP-20210924.jpg"
          class="image1" alt="...">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xl-4 my-1">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h04/h67/17476199448606/DECOR-----WEB-20210924.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-sm-6 col-xl-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h16/h6a/17476199514142/Footwear-------WEB-20210924.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-sm-6 col-xl-4 my-1 d-sm-none d-md-none d-lg-block">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h06/h64/17476199383070/Beauty-----WEB-20210924.jpg"
          class="image1" alt="...">
      </div>
    </div>
  </div>
  <!-- grid 1 end -->




  <!-- grid 2 start -->
  <div class="container">
    <h3>Pick Your Favourite Brands</h3>
    <div class="row my-3">
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h9a/h8c/17473000865822/CELIO------web-01-Recovered240921.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h0b/h82/17473000538142/spaaykar--web-01-RecoveredRecovered240921.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h59/h90/17473000996894/JACK-AND-JONES------web-01-Recovered240921.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/hdb/h88/17473000734750/ALLEN-SOLLY------web-01-Recovered240921.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h16/hdb/17473001062430/LOUIS-PHILIPPE------web-01-Recovered240921.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/hab/h8f/17473000931358/USPA----web-01-Recovered240921.jpg"
          class="image1" alt="...">
      </div>
    </div>
  </div>
  <!-- grid-2 ends -->

  <!-- grid-3 statr -->
  <div class="container">
    <h3>Pick Your Favourite Brands for Women</h3>
    <div class="row my-3">
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h71/h09/17472999489566/Janasya----WEB--01web21.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h93/h0f/17472999620638/Zink-London----WEB--01web21.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h52/h13/17472999751710/w-%26-Aurelia-----WEB--01web21.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h12/h17/17472999882782/Rare----WEB--01web21.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h10/h1a/17472999948318/Biba-----WEB--01web21.jpg"
          class="image1" alt="...">
      </div>
      <div class="col-12 col-sm-6 col-md-4 my-1">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/hbe/h70/17473000013854/Triumph-----WEB--01web21.jpg"
          class="image1" alt="...">
      </div>
    </div>
  </div>

  <!-- grid-3 ends -->
  <!-- static data -->
  <div class="row">
    <img
      src="https://sslimages.shoppersstop.com/sys-master/root/hcd/h5a/17476173889566/Kids-Top-Brands_strip-web-20210924.jpg"
      alt="...">
  </div>
  <!-- static data -->
  <!-- carorsel 3 starts -->
  <div id="carouselExampleIndicators" class="carousel slide mb-3" data-bs-ride="carousel" data-bs-interval="2500">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide a"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide b"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide c"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide d"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide e"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
        aria-label="Slide f"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/hc1/h45/17476173234206/allenSolly_web-20210924.jpg"
          class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://sslimages.shoppersstop.com/sys-master/root/h81/h49/17476173365278/gini%26jony_web-20210924.jpg"
          class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h40/h4d/17476173496350/cutecumber_web-20210924.jpg"
          class="img-fluid" alt="...">
      </div>

      <div class="carousel-item">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h4f/h53/17476173627422/hamleys_web-20210924.jpg"
          class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h0e/h57/17476173758494/mothercare_web-20210924.jpg"
          class="img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h91/h08/16797574987806/stop_web.jpg"
          class="img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- carousel 3 ends -->
  <!-- static data -->
  <div class="row">
    <div class="col">
      <img src="https://sslimages.shoppersstop.com/sys-master/root/h4f/hc9/17482986946590/Chronograph-Watch-Static-Web.jpg" class="img-fluid">
     </div>
      <div class="col">
        <img src="https://sslimages.shoppersstop.com/sys-master/root/h26/hb2/17513741156382/Swarvoski-Product-Day-Static-Web.jpg" class="img-fluid"> 
      </div>
    </div>
    <!-- static data -->
<div class = "row">
  <img src="https://sslimages.shoppersstop.com/sys-master/root/h99/h41/17479974715422/Top-Accessories_strip-web.jpg" class="img-fluid">
</div>
<!-- carousel 4 -->
<div id="carouselExampleIndicators" class="carousel slide mb-3" data-bs-ride="carousel" data-bs-interval="2500">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://sslimages.shoppersstop.com/sys-master/root/h67/h4b/17479974453278/handbagBag_web.jpg"
        class="img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://sslimages.shoppersstop.com/sys-master/root/ha8/h47/17479974584350/Belts-%26-Accessories_web.jpg"
        class="img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://sslimages.shoppersstop.com/sys-master/root/hc0/ha9/17490481676318/hautecurry_web.jpg"
        class="img-fluid" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- carousel 4 end -->
<!-- static -->
<div class = "row">
  <img src="https://sslimages.shoppersstop.com/sys-master/root/h60/h2a/17370619281438/Premium-Beauty-Brands----strip--WEB--.jpg" class="img-fluid">
</div>
<!-- carousel 5 -->
<div id="carouselExampleIndicators" class="carousel slide mb-3" data-bs-ride="carousel" data-bs-interval="2500">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://sslimages.shoppersstop.com/sys-master/root/h06/hb6/17476195188766/Home-Page-Static-Clarins-Web-20210924.jpg"
        class="img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://sslimages.shoppersstop.com/sys-master/root/h15/hbc/17476195319838/Home-Page-Static-Shiseido-Web-20210924.jpg"
        class="img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://sslimages.shoppersstop.com/sys-master/root/he7/hbf/17476195450910/Home-Page-Static-Elizabeth-Arden-Web-20210924.jpg"
        class="img-fluid" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- carousel 5 end -->
</body>

</html>