

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../public/styles/nav.css">
        <script
          src="https://kit.fontawesome.com/a72892e0d8.js"
          crossorigin="anonymous"
        ></script>

        <script>
          let logout = document.getElementById('logout');
          window.addEventListener('load', ()=> {
            if (localStorage.getItem("currentuser" != null)){
              logout.innerHTML = "LOG OUT";
              logout.href = "/";
            }
          })
           logout.onclick = () => {
          localStorage.removeItem("currentuser");
            window.location.href = '/';
         }
        </script>

        <style>
          .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; 
        
     }
     .dropdown-item:hover { color: orange !important; }
     .head-logo{
       margin: auto;
     }
      </style>
        
     
    
       <!-- header -->
       <header class="home-header">
         <div class="left-header">
           <div class="stores-contact">
             <a href="category" class="all-stores">Categories</a>
             <a href="myorders" class="contact-us">My Orders</a>
           </div>
           <div class="head-logo">
             <a href="home"
               ><img
                 src="	https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/sslogo.svg"
             /></a>
           </div>
         </div>
         <div class="right-header">
           <div class="search-box">
             <form id="search-bar">
               <input
                 type="text"
                 id="search-header"
                 placeholder="Search Products & Brands"
               />
             </form>
           </div>
           <div class="wishlist-bag-profile">
             <a href="#" class="search-icon">
               <img
                 src="https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/iconsearch.png"
               />
             </a>
             <a href="wishlist" class="wishlist-icon">
               <img
                 src="https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/iconwishlist.png"
               />
             </a>
             <a href="cart" class="bag-icon">
               <img
                 src="	https://www.shoppersstop.com/_ui/responsive/common/assets/images/iconaddtobag.png"
               />
             </a>
             <a href="#" class="profile-icon">
               <img
                 src="https://prodstatic.shoppersstop.com/_ui/responsive/common/assets/images/iconuser.png"
               />
             </a>
             <div class="signin-div">
               <h3 class="h31" id="si2"><a href="signin" id="logout">SIGN IN</a></h3>
               <hr />
               <h3 id="su1"><a href="signup">SIGN UP</a></h3>
             </div>
           </div>
         </div>
       </header>
