<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/styles/nav.css">
    <script
      src="https://kit.fontawesome.com/a72892e0d8.js"
      crossorigin="anonymous"
    ></script>
   
   <!-- nav bar -->
   <nav class="navbar-home">
    <div class="nav-container">
      <ul class="ul-main">
        <li class="topmenu">
          <a href="#">BARGAINS</a>
          <ul class="submenu">
            <li>
              <a href="">Women<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/hde/hb8/14520526143518/Menu_mothercare-20200225.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Westernwear - upto 70% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Women Ethnicwear Upto 80% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Shoes - upto 80% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Dresses - upto 70%</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Women's Handbags- Flat 40% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Men's Footwear- Min 55% off
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Men<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/hf5/h2b/14316881903646/Allen-solly_menu_Banner-2020.jpg"
                    alt=""
                /></a>
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/ha9/h27/15070684053534/Puma_menu_Banner-2020.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Kurta's - upto 50% off</a
                  >
                </li>
                <li>
                  <a href="../category"
                    >Shirts - Upto 70% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Shoes - upto 80% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Jeans - upto 60%</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Men's Footwear- Min 55% off
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Kids<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/he3/h37/16262418661406/Arcelia-Menu-Banner.jpg"
                    alt=""
                /></a>
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/h0f/h8e/14803313623070/Menu_kidsmask_20190527.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Dresses & Jumpsuits</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Kids Ethnicwear - upto 30% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Boys Bottomwear- upto 50% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Toys - upto 30% off</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="">Beauty<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/he3/h37/16262418661406/Arcelia-Menu-Banner.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Make up - upto50% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Skincare - upto 40% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Womens Fragrances - upto 40% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Men Fragrances - upto 50%</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="">Home Offers<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/h27/h7e/14292469973022/Appliances_menu_Banner.jpg.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Appliances Upto 25% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Living Upto 60% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Home Adornment Upto 80% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Kitchen Upto 70% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >storage Upto 60% Off</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="">Other Offers<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/he3/h37/16262418661406/Arcelia-Menu-Banner.jpg"
                    alt=""
                /></a>
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/ha9/h27/15070684053534/Puma_menu_Banner-2020.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Puma-UPTO 50% OFF</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Travel & Essential-UPTO 50% OFF</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Skagen-Upto 50% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Fastrack-Upto 40% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Gio Sunglasses-Upto 60% Off</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="topmenu">
          <a href="#">WOMAN</a>
          <ul class="submenu">
            <li>
              <a href="">Women<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/h2a/h7a/14873598296094/Stop-ethnicwear_menu_Banner-2020.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Westernwear - upto 70% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Women Ethnicwear Upto 80% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Shoes - upto 80% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Dresses - upto 70%</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Women's Handbags- Flat 40% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Men's Footwear- Min 55% off
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Men<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/he3/h37/16262418661406/Arcelia-Menu-Banner.jpg"
                    alt=""
                /></a>
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/ha9/h27/15070684053534/Puma_menu_Banner-2020.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >T-shirt - upto 50% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Shirts - Upto 70% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Shoes - upto 80% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Jeans - upto 60%</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Men's Footwear- Min 55% off
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="">Kids<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/he3/h37/16262418661406/Arcelia-Menu-Banner.jpg"
                    alt=""
                /></a>
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/ha9/h27/15070684053534/Puma_menu_Banner-2020.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Dresses & Jumpsuits</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Kids Ethnicwear - upto 30% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Boys Bottomwear- upto 50% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Toys - upto 30% off</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="">Beauty<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/he3/h37/16262418661406/Arcelia-Menu-Banner.jpg"
                    alt=""
                /></a>
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/ha9/h27/15070684053534/Puma_menu_Banner-2020.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Make up - upto50% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Skincare - upto 40% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Womens Fragrances - upto 40% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Men Fragrances - upto 50%</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="">Home Offers<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/he3/h37/16262418661406/Arcelia-Menu-Banner.jpg"
                    alt=""
                /></a>
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/ha9/h27/15070684053534/Puma_menu_Banner-2020.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Appliances Upto 25% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Living Upto 60% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Home Adornment Upto 80% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Kitchen Upto 70% off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >storage Upto 60% Off</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a href="">Other Offers<span class="gt">></span></a>
              <ul class="submenu">
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/he3/h37/16262418661406/Arcelia-Menu-Banner.jpg"
                    alt=""
                /></a>
                <a href=""
                  ><img
                    src="https://sslimages.shoppersstop.com/sys-master/root/ha9/h27/15070684053534/Puma_menu_Banner-2020.jpg"
                    alt=""
                /></a>
                <li>
                  <a href="#"
                    >Puma-UPTO 50% OFF</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Travel & Essential-UPTO 50% OFF</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Skagen-Upto 50% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Fastrack-Upto 40% Off</a
                  >
                </li>
                <li>
                  <a href="#"
                    >Gio Sunglasses-Upto 60% Off</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="topmenu"><a href="#">KIDS</a></li>
        <li class="topmenu"><a href="#">BEAUTY</a></li>
        <li class="topmenu"><a href="#">MEN</a></li>
        <li class="topmenu"><a href="#">HOMESTOP</a></li>
        <li class="topmenu"><a href="#">CROSSWORD</a></li>
        <li class="topmenu"><a href="#">BRANDS</a></li>
        <li class="topmenu"><a href="#">GIFTS</a></li>
        <li class="topmenu"><a href="#">DISCOVER</a></li>
      </ul>
      <div class="clear-float"></div>
    </div>
  </nav>
